name: todo_app infra workflow

on: workflow_dispatch
  # pull_request:
  #   branches:
  #     - 'main'

  # push:
  #   branches:
  #     - 'main'

permissions:              
  id-token: write          # required for OIDC federation
  contents: read           # to clone the repo

jobs:
  terraforminit:
    name: terraform initialization
    #runs-on: raja:rana
    runs-on: ubuntu-latest  

    steps: 
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Azure Login
      uses: Azure/login@v2.3.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 


    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.1.7"

    - name: Terraform Init
      id: init
      run: terraform init -input=false
      working-directory: Environments/dev
      shell: bash
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        ARM_USE_OIDC: true

    - name: Terraform Validate
      id: validate
      run: terraform validate -no-color
      working-directory: Environments/dev
      shell: bash
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        ARM_USE_OIDC: true
        TF_VAR_SSH_Key: ${{ secrets.VM_PUB_SSH_KEY }}

    # - name: Setup TFLint
    #   uses: terraform-linters/setup-tflint@v6.2.1
    #   with:
    #     tflint_version: latest

    # - name: Run TFLint
    #   run: tflint --chdir=Environments/dev

    # - name: Checkov GitHub Action
    #   uses: bridgecrewio/checkov-action@v12.1347.0
    #   with:
    #     directory: Environments/dev  

    - name: Terratest infra test
      run: |
        echo "Initialise the go module..."
        cd Test
        go mod init "todoinfracheck"
        go get github.com/gruntwork-io/terratest@v0.46.16
        go get github.com/stretchr/testify@v1.8.4
        go get .Infra_test.go
        go mod tidy
        go test .\Infra_test.go
      shell: bash
      

  terraforminitandplan:
    name: terraform init and plan
    #runs-on: raja:rana
    runs-on: ubuntu-latest
    needs: terraforminit

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Azure Login
      uses: Azure/login@v2.3.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
            

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.1.7"

    - name: Terraform Init
      id: init
      run: terraform init -input=false
      working-directory: Environments/dev
      shell: bash
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        ARM_USE_OIDC: true

    - name: Terraform Plan
      id: plan
      run: terraform plan -no-color -input=false 
      working-directory: Environments/dev
      shell: bash
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        MSSQL_PASSWORD: ${{secrets.MSSQL_PASSWORD}}
        ARM_USE_OIDC: true
        TF_VAR_SSH_Key: ${{ secrets.VM_PUB_SSH_KEY }}


  terraforminitandapply:
      name: terraform init and apply
      #runs-on: raja:rana
      runs-on: ubuntu-latest
      environment: dev
      if: github.ref == 'refs/heads/main'
      needs: terraforminitandplan

      steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"

      - name: Terraform Init
        id: init
        run: terraform init -input=false
        working-directory: Environments/dev
        shell: bash
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_USE_OIDC: true

      - name: Terraform Apply
        id: apply
        run: terraform apply --auto-approve 
        working-directory: Environments/dev
        shell: bash
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          MSSQL_PASSWORD: ${{secrets.MSSQL_PASSWORD}}
          ARM_USE_OIDC: true
          TF_VAR_SSH_Key: ${{ secrets.VM_PUB_SSH_KEY }}
